/*头部跟导航*/
.header {
    background-color: #ffd140;
    /*float: left;*/
    overflow: hidden;
    width: 95%;
    padding-right: 2.5%;
    padding-left: 2.5%;
}

.header .title {
    text-align: center;
    float: left;
    width: 100%;
    line-height: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.header .title img {
    height: auto;
    width: 80%;
}

.header .title .back {
    float: left;
    width: 10%;
}
.header .title .txt {
    text-align: center;
    display: block;
    float: left;
    width: 80%;
    margin-top: 3vw;
    font-size: 5vw;
}

.header .title .info {
    float: right;
    width: 10%;
}
.nav {
    float: left;
    width: 100%;
}

.nav ul {
}
.nav ul li {
    float: left;
    width: 20%;
}
.nav ul li a {
    text-align: center;
    display: block;
    width: 100%;
    color: #aeaeae;
    font-size: 4vw;
    border-bottom-width: 1vw;
    border-bottom-style: solid;
    border-bottom-color: #dadada;
    line-height: 14vw;
}
.nav ul li .on {
    color: #424242;
    border-bottom-width: 1vw;
    border-bottom-style: solid;
    border-bottom-color: #5e5e5e;
}
/*底部*/
.footer_flow {
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #080808;
    opacity: 0.7;
}
.footer_flow ul {
    overflow: hidden;
}
.footer_flow .any{
    padding: 2%;
    margin-top: 2%;
}
.xx{
    position: absolute;
    right: 2%;
    top: 4%;
    width: 4%;
}
.footer_flow .any li a {
    color: #faf3f3;
    text-align: center;
    display: block;
    font-size: 4vw;
    line-height: 5vw;
}
.footer_flow .any li{
    float: left;width: 16%;
    padding: 1%;
}
.footer_flow ul li {
    float: left;
    width: 25%;
}
.footer_flow ul li a {
    color: #fff;
    text-align: center;
    display: block;
    font-size: 5vw;
    line-height: 15vw;
}
i{
    font-style: normal;
}