/* CSS Document */
/*outer-box*/
.outer-box{ width:100%; min-width:320px; margin:0 auto;}
/*header*/
header{ width:100%; height:auto; padding:1em 0; background:#ffd140;}
.return,.personal{ width:7.77778%; margin-left:0.5em;}
header .title{ width:80%; text-align:center; font-size:2em; color:#4c4c4d;}

/*content*/
.content{ width:100%; font-size:1.5em; color:#4c4c4d;}
.content .cont-title div{ width:49.666%; text-align:center; border-sizing:border-box; -webkit-border-sizing:border-box; -moz-border-sizing:border-box; padding:0.8em 0;}
.content .yh-cont{ width:100%;}
.content .public{ width:81.88889%; margin:1.5em auto 0;}
.content .public p{ width:100%; margin-bottom:1.3em;}
.content .public p img{ width:6%; margin-top:0.3em; margin-right:0.5em;}
.content .public p input{ width:100%; font-size:1em; border:1px solid #4c4c4d; border-radius:0.2em; text-indent:1.5em; padding:0.5em 0;}
.content .yh-cont .choice{ width:81.88889%; margin:1.5em auto 0;}
.content .yh-cont .choice div{ position:relative; width:40%;}
/*银行卡充值*/
.yh-cont .choice div .no{ width:15%; margin-top:0.2em;}
.yh-cont .choice div .yes{ display:none; position:absolute; left:0.28em; top:0.48em; width:8%;}
.yh-cont .choice div span{ margin-left:0.5em;}
.yh-cont .Value{ width:81.88889%; margin:1.5em auto 0;}
.yh-cont .Value div{ position:relative; background:#f7f7f7; border:1px solid #b4b4b4; text-align:center; padding:1em 2.2em; font-size:0.8em; color:#272727;}
.yh-cont .Value div.mid{ margin:0 0.4em;}
.yh-cont .Value div img{ display:none; position:absolute; right:0; top:0; width:2em;}
.yh-cont .sep{ width:100%; background:#f7f7f7; height:0.5em; margin:1.5em 0;}
/*充值卡充值*/
.content .cz-card{  width:100%;}
.content .cz-card form{ width:81.88889%; margin:0 auto;}
.content .cz-card form p{ width:100%; margin-bottom:0 auto 1.3em;}
.content .cz-card form p img{ width:7%; margin-top:0.3em; margin-right:0.5em;}
.content .cz-card p input{ width:100%; font-size:1em; border:1px solid #4c4c4d; border-radius:0.2em; text-indent:1.5em; padding:0.5em 0; margin-top:1em;}
.content .cz-card .choice{ width:81.88889%; margin:1.5em auto 0;}
.content .cz-card .choice div{ position:relative; width:40%;}
.cz-card .choice div .no{ width:15%; margin-top:0.2em;}
.cz-card .choice div .yes{ display:none; position:absolute; left:0.28em; top:0.48em; width:8%;}
.cz-card .choice div span{ margin-left:0.5em;}
.cz-card .sep{ width:100%; background:#f7f7f7; height:0.5em; margin:1.5em 0;}
/*订单详情*/
.dd-details{ width:81.88889%; margin:0 auto 2em; font-size:0.8em;}
.dd-details .top{ width:100%; margin-bottom:0.5em;}
.dd-details .top img{ width:6%; margin-right:0.5em;}
.dd-details p{ margin-top:0.8em;}
<!--充值流量-->
.attation{ width:100%;}
.attation .at-top{padding-top:2em;}
.attation .at-top,.attation p{ width:81.88889%; margin:0 auto; font-size:0.8em;}
.attation .at-top img{ width:6%; margin-top:0.1em; margin-right:0.5em;}
.attation p{ line-height:1.5em;}
<!--充值话费-->
.award{ width:100%; margin:2em 0 0.5em;}
.award a{ display:block; width:100%; text-align:center; color:#4c4c4d; font-size:0.8em;}

footer{ width:81.88889%; margin:1em auto 6em;}
footer a{ display:block; width:100%; text-align:center; color:#4c4c4d; background:#fed04f; padding:0.5em 0; border-radius:0.4em;}
