/* CSS Document */
/*outer-box*/
.outer-box{ width:100%; min-width:320px; margin:0 auto;}
/*header*/
/*header{ width:100%; height:auto; padding:1em 0; background:#ffd140;}*/
.return,.personal{ width:7.77778%; margin-left:0.5em;}
/*header .title{ width:80%; text-align:center; font-size:2em; color:#4c4c4d;}*/

/*content*/
.content{ width:100%; font-size:1em; color:#4c4c4d;}
.content a{ display:block; width:81.38889%; margin:0 auto; padding:1em 0; color:#4c4c4d; background:#fed04f; text-align:center; border-radius:0.5em;}
.sep{ width:100%; background:#f7f7f7; height:0.5em; margin:1.5em 0 0;}

/*tuijian*/
.tuijian{ width:93.88889%; margin:0 auto; padding-bottom:1em;}
.tuijian a.left{ width:36.5%;}
.tuijian a.right{ width:42%;}